.button{
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  margin-left: 80%;
}

.Modal{
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  
}


.Modal header{
  background:#F0950E;
  color: #fff;
  width: 100%;
  height: 45px;
  text-align: justify;
  padding-top: 8px;
}

header strong{
  display: inline-block;
  width: 92%;
  text-align: center;

}

.button_cerrar{
  display: inline-block;
  background-color: transparent;
  color: black;
  border-color: black;
  border: 2px solid;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: auto; 
  
}


.App{
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  width: 100%;
  height: 100vh;
}